In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cars = pd.read_csv('imports-85.data')
cars.head(2)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [4]:
cars = pd.read_csv('imports-85.data', header = None)
cars.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [5]:
cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 
        'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 
        'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-rate', 'horsepower', 
        'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [6]:
cars = pd.read_csv('imports-85.data',header = None , names = cols)
cars.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-rate   205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [8]:
num_cols = ['normalized-losses', 'wheel-base', 'length', 'width', 'height', 
                          'curb-weight', 'bore', 'stroke', 'compression-rate', 'horsepower', 
                          'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [9]:
numeric_cars = cars[num_cols]

numeric_cars.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,88.6,168.8,64.1,48.8,2548,3.47,2.68,9.0,111,5000,21,27,13495
1,?,88.6,168.8,64.1,48.8,2548,3.47,2.68,9.0,111,5000,21,27,16500
2,?,94.5,171.2,65.5,52.4,2823,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,3.19,3.40,8.0,115,5500,18,22,17450

In [10]:
numeric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  205 non-null    object
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   bore               205 non-null    object
 7   stroke             205 non-null    object
 8   compression-rate   205 non-null    float64
 9   horsepower         205 non-null    object
 10  peak-rpm           205 non-null    object
 11  city-mpg           205 non-null    int64
 12  highway-mpg        205 non-null    int64
 13  price              205 non-null    object
dtypes: float64(5), int64(3), object(6)
memory usage: 22.5+ KB

In [11]:
numeric_cars = numeric_cars.replace("?", np.nan)

In [12]:
numeric_cars.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,88.6,168.8,64.1,48.8,2548,3.47,2.68,9.0,111,5000,21,27,13495
1,NaN,88.6,168.8,64.1,48.8,2548,3.47,2.68,9.0,111,5000,21,27,16500
2,NaN,94.5,171.2,65.5,52.4,2823,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,3.19,3.40,8.0,115,5500,18,22,17450

In [13]:
numeric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  164 non-null    object
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   bore               201 non-null    object
 7   stroke             201 non-null    object
 8   compression-rate   205 non-null    float64
 9   horsepower         203 non-null    object
 10  peak-rpm           203 non-null    object
 11  city-mpg           205 non-null    int64
 12  highway-mpg        205 non-null    int64
 13  price              201 non-null    object
dtypes: float64(5), int64(3), object(6)
memory usage: 22.5+ KB

In [14]:
numeric_cars = numeric_cars.astype(float)

In [15]:
numeric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  164 non-null    float64
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    float64
 6   bore               201 non-null    float64
 7   stroke             201 non-null    float64
 8   compression-rate   205 non-null    float64
 9   horsepower         203 non-null    float64
 10  peak-rpm           203 non-null    float64
 11  city-mpg           205 non-null    float64
 12  highway-mpg        205 non-null    float64
 13  price              201 non-null    float64
dtypes: float64(14)
memory usage: 22.5 KB

In [16]:
numeric_cars.dropna(subset = ["price"], axis = 0, inplace = True)

In [17]:
numeric_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  164 non-null    float64
 1   wheel-base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb-weight        201 non-null    float64
 6   bore               197 non-null    float64
 7   stroke             197 non-null    float64
 8   compression-rate   201 non-null    float64
 9   horsepower         199 non-null    float64
 10  peak-rpm           199 non-null    float64
 11  city-mpg           201 non-null    float64
 12  highway-mpg        201 non-null    float64
 13  price              201 non-null    float64
dtypes: float64(14)
memory usage: 23.6 KB

In [18]:
numeric_cars.mean()

normalized-losses      122.000000
wheel-base              98.797015
length                 174.200995
width                   65.889055
height                  53.766667
curb-weight           2555.666667
bore                     3.330711
stroke                   3.256904
compression-rate        10.164279
horsepower             103.396985
peak-rpm              5117.587940
city-mpg                25.179104
highway-mpg             30.686567
price                13207.129353
dtype: float64

In [19]:
numeric_cars.fillna(numeric_cars.mean(), inplace = True)

In [20]:
numeric_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  201 non-null    float64
 1   wheel-base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb-weight        201 non-null    float64
 6   bore               201 non-null    float64
 7   stroke             201 non-null    float64
 8   compression-rate   201 non-null    float64
 9   horsepower         201 non-null    float64
 10  peak-rpm           201 non-null    float64
 11  city-mpg           201 non-null    float64
 12  highway-mpg        201 non-null    float64
 13  price              201 non-null    float64
dtypes: float64(14)
memory usage: 23.6 KB

In [21]:
numeric_cars.mean()

normalized-losses      122.000000
wheel-base              98.797015
length                 174.200995
width                   65.889055
height                  53.766667
curb-weight           2555.666667
bore                     3.330711
stroke                   3.256904
compression-rate        10.164279
horsepower             103.396985
peak-rpm              5117.587940
city-mpg                25.179104
highway-mpg             30.686567
price                13207.129353
dtype: float64

In [22]:
numeric_cars.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,122.0,88.6,168.8,64.1,48.8,2548.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,122.0,88.6,168.8,64.1,48.8,2548.0,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,122.0,94.5,171.2,65.5,52.4,2823.0,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,164.0,99.8,176.6,66.2,54.3,2337.0,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,164.0,99.4,176.6,66.4,54.3,2824.0,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0

In [26]:
normalized_cars = (numeric_cars-numeric_cars.mean())/numeric_cars.std()

normalized_cars.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.000000,-1.680910,-0.438315,-0.851335,-2.029015,-0.014821,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,0.036224
1,0.000000,-1.680910,-0.438315,-0.851335,-2.029015,-0.014821,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,0.414350
2,0.000000,-0.708334,-0.243544,-0.185134,-0.558319,0.516789,-2.427374,0.674254,-0.290709,1.354267,-0.245942,-0.961995,-0.687669,0.414350
3,1.312654,0.165335,0.194690,0.147966,0.217881,-0.422710,-0.524899,0.452769,-0.041019,-0.037387,0.799836,-0.183569,-0.100741,0.093477
4,1.312654,0.099398,0.194690,0.243137,0.217881,0.518722,-0.524899,0.452769,-0.540399,0.310527,0.799836,-1.117680,-1.274597,0.533891

In [27]:
round(normalized_cars.mean())

normalized-losses   -0.0
wheel-base          -0.0
length              -0.0
width                0.0
height              -0.0
curb-weight          0.0
bore                -0.0
stroke               0.0
compression-rate    -0.0
horsepower           0.0
peak-rpm             0.0
city-mpg             0.0
highway-mpg         -0.0
price               -0.0
dtype: float64

In [28]:
round(normalized_cars.std())

normalized-losses    1.0
wheel-base           1.0
length               1.0
width                1.0
height               1.0
curb-weight          1.0
bore                 1.0
stroke               1.0
compression-rate     1.0
horsepower           1.0
peak-rpm             1.0
city-mpg             1.0
highway-mpg          1.0
price                1.0
dtype: float64

In [29]:
normalized_cars["price"] = numeric_cars["price"]

In [30]:
normalized_cars.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.000000,-1.680910,-0.438315,-0.851335,-2.029015,-0.014821,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,13495.0
1,0.000000,-1.680910,-0.438315,-0.851335,-2.029015,-0.014821,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,16500.0
2,0.000000,-0.708334,-0.243544,-0.185134,-0.558319,0.516789,-2.427374,0.674254,-0.290709,1.354267,-0.245942,-0.961995,-0.687669,16500.0
3,1.312654,0.165335,0.194690,0.147966,0.217881,-0.422710,-0.524899,0.452769,-0.041019,-0.037387,0.799836,-0.183569,-0.100741,13950.0
4,1.312654,0.099398,0.194690,0.243137,0.217881,0.518722,-0.524899,0.452769,-0.540399,0.310527,0.799836,-1.117680,-1.274597,17450.0

In [33]:
len(normalized_cars)*.75

150.75

In [ ]:
normalized_cars = normalized_cars.sample(frac = 1, random_state=1)

In [35]:
train = normalized_cars[:151]
test = normalized_cars[151:]

In [36]:
train.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
53,-0.281283,-0.939115,-0.600624,-0.803749,0.136175,-1.180496,-1.121754,-0.338251,-0.290709,-0.947315,-0.245942,0.906227,1.073114,6695.0
94,0.187522,-0.708334,-0.722356,-0.994092,0.299586,-1.168897,-0.674113,0.104720,-0.190833,-0.920552,0.172369,0.906227,0.926382,7299.0
38,-0.500059,-0.378648,-0.543816,-0.327892,-0.190646,-0.515500,-0.674113,1.022303,-0.290709,-0.465588,1.427302,0.283486,0.339454,9095.0
154,-1.281400,-0.510522,-0.365276,-1.089263,2.178808,-0.513567,-1.047147,-0.717941,-0.290709,-1.107890,-0.664253,0.283486,0.192723,7898.0
20,-1.281400,-0.708334,-1.249860,-1.089263,-0.721730,-1.250088,-1.121754,-0.464815,-0.140895,-0.893790,0.590680,1.996023,1.806774,6575.0

In [37]:
abs(normalized_cars.corr()["price"])

normalized-losses    0.133999
wheel-base           0.584642
length               0.690628
width                0.751265
height               0.135486
curb-weight          0.834415
bore                 0.543154
stroke               0.082267
compression-rate     0.071107
horsepower           0.809681
peak-rpm             0.101542
city-mpg             0.686571
highway-mpg          0.704692
price                1.000000
Name: price, dtype: float64

In [40]:
corr = abs(normalized_cars.corr()["price"])

corr[corr>0.25].index

Index(['wheel-base', 'length', 'width', 'curb-weight', 'bore', 'horsepower',
       'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [41]:
features = ['wheel-base', 'length', 'width', 'curb-weight', 'bore', 'horsepower',
       'city-mpg', 'highway-mpg']

target = ["price"]

In [42]:
from sklearn.neighbors import KNeighborsRegressor

In [43]:
test.iloc[0][['wheel-base', 'length', 'width', 'curb-weight', 'bore', 'horsepower',
       'city-mpg', 'highway-mpg']]

wheel-base    -0.263257
length        -0.178621
width         -0.232720
curb-weight   -0.706880
bore           1.079149
horsepower    -0.572639
city-mpg       0.439172
highway-mpg    0.339454
Name: 142, dtype: float64

In [44]:
train.head(10)

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
53,-0.281283,-0.939115,-0.600624,-0.803749,0.136175,-1.180496,-1.121754e+00,-3.382515e-01,-0.290709,-0.947315,-0.245942,0.906227,1.073114,6695.0
94,0.187522,-0.708334,-0.722356,-0.994092,0.299586,-1.168897,-6.741128e-01,1.047198e-01,-0.190833,-0.920552,0.172369,0.906227,0.926382,7299.0
38,-0.500059,-0.378648,-0.543816,-0.327892,-0.190646,-0.515500,-6.741128e-01,1.022303e+00,-0.290709,-0.465588,1.427302,0.283486,0.339454,9095.0
154,-1.281400,-0.510522,-0.365276,-1.089263,2.178808,-0.513567,-1.047147e+00,-7.179412e-01,-0.290709,-1.107890,-0.664253,0.283486,0.192723,7898.0
20,-1.281400,-0.708334,-1.249860,-1.089263,-0.721730,-1.250088,-1.121754e+00,-4.648147e-01,-0.140895,-0.893790,0.590680,1.996023,1.806774,6575.0
160,-0.968864,-0.510522,-0.641201,-0.708577,-0.313204,-0.892460,-5.248991e-01,-7.179412e-01,-0.290709,-0.893790,-0.664253,1.996023,2.393701,7738.0
169,0.375044,-0.065445,0.162228,-0.137549,-0.721730,-0.009021,1.079149e+00,7.691768e-01,-0.215802,0.337289,-0.664253,-0.183569,-0.100741,9989.0
56,0.875103,-0.576460,-0.422084,-0.089963,-1.702193,-0.339586,-1.656605e-15,-1.405134e-15,-0.190833,-0.064150,1.845613,-1.273365,-1.127865,11845.0
167,0.375044,-0.065445,0.162228,-0.137549,-0.721730,-0.030286,1.079149e+00,7.691768e-01,-0.215802,0.337289,-0.664253,-0.183569,-0.100741,8449.0
163,1.437668,-0.708334,-0.446431,-0.898920,-0.476614,-0.747476,-5.248991e-01,-7.179412e-01,-0.290709,-0.893790,-0.664253,0.594857,0.486186,8058.0

In [45]:
from sklearn.neighbors import KNeighborsRegressor

In [46]:
knn = KNeighborsRegressor(n_neighbors=5) # k is by default 5

knn.fit(train[features], train[target])  # training 
prediction = knn.predict(test[features]) # prediction

In [47]:
201-151

50

In [48]:
test["p_price"] = prediction

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
test[["price", "p_price"]].head()

       price  p_price
142   7775.0   8552.0
61   10595.0  10244.2
78    6669.0   6589.6
67   25552.0  23493.6
72   35056.0  23357.2

In [50]:
test["absolute_error"] = abs(test["price"] - test["p_price"])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
test.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price,p_price,absolute_error
142,-0.625073,-0.263257,-0.178621,-0.232720,-0.517467,-0.706880,1.079149,-1.951933,-0.165864,-0.572639,-1.500875,0.439172,0.339454,7775.0,8552.0,777.0
61,0.218776,0.000492,0.292075,0.290723,-0.027235,-0.329920,0.221170,0.421128,-0.390585,-0.519113,-0.664253,0.127801,0.192723,10595.0,10244.2,350.8
78,1.218893,-0.840209,-1.371592,-0.708577,-1.211962,-1.066441,-1.345575,-0.085125,-0.190833,-0.947315,0.799836,0.906227,1.073114,6669.0,6589.6,79.4
67,-0.906356,1.846738,1.355199,2.098980,1.116639,1.854513,0.929935,1.212148,2.830417,0.524627,-1.605452,-0.494939,-0.834401,25552.0,23493.6,2058.4
72,0.625073,-0.362163,0.494962,2.194151,-1.211962,2.183144,0.482294,-0.496456,-0.465492,1.381030,-0.768830,-1.429050,-1.861524,35056.0,23357.2,11698.8

In [52]:
mae = test["absolute_error"].mean()
mae

2663.216

In [53]:
test["squared_error"] = (test["price"] - test["p_price"])**2

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
mse = test["squared_error"].mean()
mse

18212192.8464

In [55]:
rmse = np.sqrt(mse)
rmse

4267.574585921141

In [56]:
mse**(1/2)

4267.574585921141

In [57]:
from sklearn.metrics import mean_squared_error

In [58]:
mse = mean_squared_error(test["price"],prediction)
rmse = np.sqrt(mse)
rmse

4267.574585921141

In [59]:
k_rmse = {}

for k in range(3,20): # grid search- hyperparamer optimatization
    knn = KNeighborsRegressor(n_neighbors=k) 
    knn.fit(train[features], train[target])  # training 
    prediction = knn.predict(test[features]) # prediction
    mse = mean_squared_error(test["price"],prediction)
    rmse = np.sqrt(mse)
    k_rmse[k] = rmse

In [60]:
k_rmse

{3: 4147.3698535604735,
 4: 4193.321471250445,
 5: 4267.574585921141,
 6: 4325.777788572953,
 7: 4485.376595614887,
 8: 4441.968120207247,
 9: 4504.193787357964,
 10: 4573.762886530083,
 11: 4666.399775376769,
 12: 4612.005179751597,
 13: 4639.064218290163,
 14: 4621.960698002262,
 15: 4685.711961764427,
 16: 4781.501599769025,
 17: 4879.6950140458375,
 18: 4863.5656696273545,
 19: 4954.712199618928}

In [61]:
min(k_rmse,key= k_rmse.get )

3

In [62]:
k_r = {}

for k in range(3,20): # grid search- hyperparamter optimatization
    knn = KNeighborsRegressor(n_neighbors=k,algorithm='brute',) 
    knn.fit(train[features], train[target])  # training 
    prediction = knn.predict(test[features]) # prediction
    mse = mean_squared_error(test["price"],prediction)
    rmse = np.sqrt(mse)
    k_r[k] = rmse

In [63]:
k_r

{3: 4147.286570223422,
 4: 4193.321471250445,
 5: 4267.574585921141,
 6: 4326.072261044397,
 7: 4485.376595614887,
 8: 4441.24981213059,
 9: 4504.7418444551495,
 10: 4573.762886530083,
 11: 4666.399775376769,
 12: 4611.848875481262,
 13: 4639.064218290163,
 14: 4622.357320741468,
 15: 4685.711961764427,
 16: 4779.242788007191,
 17: 4880.880286194908,
 18: 4863.5656696273545,
 19: 4954.712199618928}

In [64]:
# metric='minkowski'


k_rm = {}

for k in range(3,20): # grid search- hyperparamter optimatization
    knn = KNeighborsRegressor(n_neighbors=k,algorithm='brute',metric='euclidean') 
    knn.fit(train[features], train[target])  # training 
    prediction = knn.predict(test[features]) # prediction
    mse = mean_squared_error(test["price"],prediction)
    rmse = np.sqrt(mse)
    k_rm[k] = rmse

In [65]:
k_rm

{3: 4147.286570223422,
 4: 4193.321471250445,
 5: 4267.574585921141,
 6: 4326.072261044397,
 7: 4485.376595614887,
 8: 4441.24981213059,
 9: 4504.7418444551495,
 10: 4573.762886530083,
 11: 4666.399775376769,
 12: 4611.848875481262,
 13: 4639.064218290163,
 14: 4622.357320741468,
 15: 4685.711961764427,
 16: 4779.242788007191,
 17: 4880.880286194908,
 18: 4863.5656696273545,
 19: 4954.712199618928}